discord~=1.0.1
jishaku
flask
firebase-admin
aiohttp~=3.7.4.post0
Pillow
async_lru
aiofiles~=0.6.0
ImageHash~=4.2.0
reportlab~=3.5.67
svglib~=1.1.0
humanize~=3.10.0
pydantic~=1.8.2
emoji~=1.4.1
git+https://github.com/applejuice-wastaken/phrase-reference-builder